<!DOCTYPE html>
<html lang="en" ng-app>
<head>
  <meta charset="UTF-8">
  <title>ANGULAR Simple App DZ1</title>
  <script src="./vendor/jq331.js"></script>
  <script src="./vendor/a.js"></script>
  <script>
    $(document).ready(function() {
      $('#myButton').on('click', function() {
        $('.myResult').css('display', 'inline-block');
      });
    });
  </script>
</head>
<body>
  <div>Введите Ваше имя</div>
  <input type="text" ng-model="myName" id="myNameInput" placeholder="введите имя">
  <div>Введите ДР (гггг-мм-дд)</div>
  <input type="text" ng-model="myDate" id="myDateInput" placeholder="гггг-мм-дд">
  
  <div>
    <input type="button" id="myButton" value="Проверить">
  </div>

  <h1>Привет <span class="myResult" hidden>{{myName}}</span>!</h1>
  <h2>
    <span class="myResult" ng-if="(myDate == '2018-07-01') ? true : false" hidden>Поздравляем с Днем Рождения!</span>
    <span class="myResult" ng-if="(myDate != '2018-07-01') ? true : false" hidden>Сегодня не ваш ДР!</span>
  </h2>
</body>
</html>